@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  color: #0c0c0c;
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #333;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #39FF14;
}

::selection {
  background: #39FF14;
  color: #000000;
}

body {
  cursor: crosshair; /* Cursor general tip tinta */
}

/* Cand pui mouse-ul pe ceva clickabil */
a, button, .cursor-pointer {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewport="0 0 24 24" fill="none" stroke="%2339FF14" stroke-width="2"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="2"></circle></svg>') 12 12, pointer; 
  /* ^ Asta e un cerc neon verde (SVG) */
}